@charset "UTF-8";

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html{
    min-height: 100vh;
    background-image: url(../Imagens/pexels-arts-1496372.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /*transform: translateY(-20px);*/
    overflow-x: hidden;
    width: 100vw;
}

main{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main section#login{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 350px;
    
    
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px hsla(0, 0%, 0%, 0.450);
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
   /*transform: translate(-50%, -50%);*/


}


#formulario{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
#formulario > h1{
    text-align: center;
    margin-bottom: 10px;

}
#formulario > p{
    font-size: 0.8em;
}

form > div.campo{
    background-color: #5f2c82;
    border: 2px solid #5f2c82;
    width: 100%;
    display: block;
    height: 48px;
    border-radius: 8px;
    margin: 7px 0px;
}

div.campo > label{
    display: none;
}

form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #49a09d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

div.campo > input{
    background-color: #94cfcd;
    font-size: 1em;
    width: calc(100% - 44px);
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-42px);
    display: block;
    margin-left: 42px;
}
div.campo > input:focus-within{
    background-color: white;

}
form > input[type=submit]:hover{
    background-color: #2d6462;

}
form > a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: white;
    color: #2d6462;
    border: 1px solid #49a09d;
    border-radius: 7px;
    text-decoration: none;
}
form > a.botao:hover{
    background-color: #6cd3cf;
}